@import url(https://fonts.googleapis.com/css?family=Lato:500,700|Merriweather:300,300italic,700);

/* -- Global style -- */
body {
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #333;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}
.navbar a {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
p,a,li,blockquote,small,.popover-content {
  font-family: "Merriweather", serif;
  font-weight: 300;   
  line-height: 1.6;
}
a {
  color: #39b54a;
}
a:hover, a:focus {
  color: #55c660;
  text-decoration: none;
}
a:active{
  opacity: 0.9;
}
hr.lines {
	height: 6px;
	background: #fff url(../images/hr.png) repeat-x 0 0;
    border: 0;
}

.GBL-thumbnail {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .GBL-thumbnail {
    margin-bottom: 0;
  }
}

/* navbar height */
.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  padding: 10px;
}
@media (min-width: 768px) {
  .navbar {
    min-height: 50px;
    margin: 15px 0 15px;
  }
  .navbar-brand {
    padding: 0;
  }
  .navbar-nav > li {
    display: inline-block;
  }
  .navbar-nav > li + li {
    margin-left: 40px;
  }
  .navbar-nav > li > a {
    padding: 0;
    line-height: 50px;
  }
}

/* navbar link */
.navbar-default {
  background-color: #FFF;
  border-color: #FFF;
}
.navbar-default .navbar-nav > li > a {
  color: #333;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #39b54a;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #808285;
  background-color: #FFF;
}    

@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    color: #333;
/*    border-bottom: #FFF solid 2px;*/
    display: inline-block;
	position: relative;
	padding-bottom: 3px;
  }
  
  .navbar-default .navbar-nav > li > a:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .5s ease;
    
}
  .navbar-default .navbar-nav > li > a:hover:after {
	width: 100%;
	background: #333;
}
  
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #333;
/*    border-bottom: #333 solid 2px;*/
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #999;
    background-color: #fff;
/*    border-bottom: #808285 solid 2px;*/
  }
  .navbar-default .navbar-nav > .active > a:after,
  .navbar-default .navbar-nav > .active > a:hover:after,
  .navbar-default .navbar-nav > .active > a:focus:after{
    width: 100%;
	background: #999;
  }
}

/* Button */
.btn {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 30px;
  padding: 15px 25px;
  background-color: #fff;
  border: 2px solid #39b54a;
  color: #39b54a;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn:hover,
.btn:focus {
  background-color: #39b54a;
  border: 2px solid #39b54a;
  color: white;
}

/* Footer */
footer {
  background: #f8f8f8;
  margin-top: 50px;
  padding: 30px 0;
}


/* -- Home -- */
#home-message p{
  font-size: 18px;
  line-height: 2;
}
@media (min-width: 768px) {
  #home-message p{
    font-size: 30px;
    line-height: 3;
    margin: 50px 0;
  }
}
  .popover-title {
  background-color: #fff;
  border-bottom: 0;
  padding: 5px 10px;
}

/* -- Team -- */
.h3 {
  margin-top: 0;
}

/* -- Blog Home -- */
.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 700;
}
.intro-header .post-heading .meta {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
.post-preview > a {
  color: #333;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #55c660;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #999;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #666;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #55c660;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Pager */
.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 30px;
  border: 2px solid #39b54a;
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #39b54a;
  border: 2px solid #39b54a;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777777;
  background-color: #333333;
  cursor: not-allowed;
}

/* -- Contact Us -- */
.contact{
  padding: 50px 0 10px;
}
.contact-text{
  margin: 45px auto;
}
.mail-message-area{
  width: 100%;
  padding: 0 15px;
}
.mail-message{
  width: 100%;
  background: rgba(255,255,255, 0.8) !important;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  margin: 0 auto;
  border-radius: 0;
}
.not-visible-message{
  height: 0;
  opacity: 0;
}
.visible-message{
  height: auto;
  opacity: 1;
  margin:25px auto 0;
}

/* Input styles */
.form{
  width: 100%;
  padding: 15px;
  background: #f8f8f8;
  border:2px solid rgba(0, 0, 0, 0.075);
  margin-bottom: 25px;
  color: #727272 !important;
  font-size: 13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  font-family: "Lato", sans-serif;
  font-weight: 500;  
}
.form:hover{
  border:2px solid #55c660;
}
.form:focus{
  color: white;
  outline: none;
  border:2px solid #55c660;
}

.textarea{
  min-height: 206px;
  max-width: 100%;
}

input {
  position: relative;
  z-index: 9999;
}
.form-btn {
  margin: auto;
}
